{% extends 'base.html' %}

{% block title %}Tweetr - Register{% endblock %}

<!-- TODO: check if registered or logged in already -->
{% block nav_login %}
<li class="nav-item active"><a href="/login" class="nav-link">Login</a></li>
{% endblock %}

{% block nav_register %}
<li class="nav-item active"><a href="/register" class="nav-link">Register</a></li>
{% endblock %}

{% block nav_profile %}
<li class="nav-item active"><a href="/profile" class="nav-link">Profile</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 register-form">
        <div class="card text-center">
            <div class="card-header">
                Register
            </div>
            <div class="card-body">
                <form action="/register" method="POST">
                    <input type="text" class="form-control" name="first_name" placeholder="First name"><br/>
                    <input type="text" class="form-control" name="last_name" placeholder="Last name"><br/>
                    <input type="text" class="form-control" name="username" placeholder="Username"><br/>
                    <input type="password" class="form-control" name="password" placeholder="Password"><br/>
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password"><br/>
                    <button class="btn btn-primary" type="submit" name="login">Register</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}